@*
    model ... hier wird der datentyp in dieser View angegeben
     dieser muss mit dem Datentyp der Instanzvariable, welche an die View übergeben wurde, übereinstimmen

*@

@model socialforms.Models.User;

@{
    ViewData["Title"] = "User";
}

   
@section redirect{
    @if (Model != null) {  //change back to == when done testing
        <meta http-equiv="Refresh" content="0; url='/user/login'" />
    }
}
    @if (Model == null) { //change back to != when done testing
        <p>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="/res/Download.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Name des lamas hier</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                </div>
            </div>

            @*Model.PersonId<br />
        @Model.Username <br />
        @Model.Username <br />
        @Model.Birthdate.ToLongDateString()*@

        </p>
    } else {
        <p>
            Es wurden keine Userdaten übergeben!
        </p>
    }
