@*
    model ... hier wird der datentyp in dieser View angegeben
     dieser muss mit dem Datentyp der Instanzvariable, welche an die View übergeben wurde, übereinstimmen

*@

@model socialforms.Models.User;

@{
    ViewData["Title"] = "User";
}

   
@section redirect{
    @if (Model == null) {
        <meta http-equiv="Refresh" content="0; url='/user/registration'" />
    }
}
    <h2>Index</h2>
    @if (Model != null) {
        <p>
            Userdaten
        </p>
        <p>
            @Model.PersonId<br />
            @Model.Username <br />
            @Model.Username <br />
            @Model.Birthdate.ToLongDateString()
        </p>
    } else {
        <p>
            Es wurden keine Userdaten übergeben!
        </p>
    }
