
@{
    ViewData["Title"] = "User";
}

@if (Model == null)
{ //change back to != when done testing
    <p>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="/res/Download.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Name des Lamas hier&nbsp;&nbsp;&nbsp;&nbsp; <a href=/user/settings class="btn btn-primary" target="_blank" rel="noopener noreferrer">Settings</a> </h4> 

                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            </div>
        </div>
    </p>
    @*@if (true) //keine Forms in der Tabelle
    {
       <p>
           Es sind keine Form in der Tabelle vorhanden
       </p>
    }
    else
    {
                alle User in Tabellenform ausgeben 
               <table>
                   <thead>
                       <tr>
                           <th colspan="7">Meine Umfragen</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <th>Name</th>
                           <th>Erstellungsdatum</th>
                           <th>Anzahl der Fragen</th>
                           <th>Anzahl der Antworten</th>
                       </tr>
                       @foreach (Form f in Model)
                       {
                           <tr>
                               <td>@f.Name</td>
                               <td>@f.CreateDate</td>
                               <td>@cntQst(f.FormId)</td>
                               <td>@cntAns(f.FormId)</td>
                               <td>
                                    senden an den User-Controller und dort an die Action (Methode) delete
                                   <form action="/user/delete/@u.PersonId" method="get">
                                       <input type="submit" value="löschen" />
                                   </form>
                               </td>
                               <td>
                                   <form action="/user/update/@u.PersonId" method="get">
                                       <input type="submit" value="ändern" />
                                   </form>
                               </td>
                           </tr>
                       }
                   </tbody>
                   <tfoot>
                       <tr>
                           <th colspan="5">Formverwaltung</th>
                       </tr>
                   </tfoot>
               </table>
    }*@

}
