@model socialforms.Models.User
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-controller="user" asp-action="login" method="post">
    <p>
        <label asp-for="Username" />Enter your a username</label> <br />
        <input type="text" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </p>
    <p>
        <label asp-for="Password" /> Enter your password</label><br />
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </p>
    <p>
        <input type="submit" value="absenden" />
        <input type="reset" value="zurücksetzen" />
    </p>
    <a href="/user/registration">register here</a>
</form>
