@model socialforms.Models.User
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form asp-controller="user" asp-action="registration" method="post">
    <p>
        <label asp-for="Username" /> <br />
        <input type="text" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </p>
    <p>
        <label asp-for="Password" /> <br />
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </p>
    <p>
        <label asp-for="Birthdate" /> <br />
        <input type="date" asp-for="Birthdate" />
        <span asp-validation-for="Birthdate"></span>
    </p>
    <p>
        <label asp-for="EMail" /> <br />
        <input type="email" asp-for="EMail" />
        <span asp-validation-for="EMail"></span>
    </p>
    <p>
        <label asp-for="Gender">Geschlecht</label> <br />
        <select asp-for="Gender">
            <option>männlich</option>
            <option>weiblich</option>
            <option>nicht angegeben</option>
        </select>
        <span asp-validation-for="Gender"></span>
    </p>
    <p>
        <input type="submit" value="absenden" />
        <input type="reset" value="zurücksetzen" />
    </p>
    <a href="/user/login">login here</a>
</form>