@model socialforms.Models.User
@{
    ViewData["Title"] = "Login";
}

    <h1>Herzlich Willkommen</h1>
    <div class="settings">
        <a class="pl-4" id="profile" href=/user>
            <img id="profile" alt="profilepicture" src="/res/Download.jpg" width=100" height=100>
        </a>
        <button type="button" class="btn btn-outline-primary">Change Profile Picture</button>
        <button type="button" class="btn btn-outline-primary">Settings</button>
        <textarea rows="5" cols="60" name="text" placeholder="Enter description"></textarea>
    </div>

