@{
    ViewData["Title"] = "Home";
}

<h1>Herzlich willkommen bei socialformns</h1><br />

<h2>Umfragen erstellen - Umfragen teilen</h2>

<button onklick="https://localhost:44396/create/index" class="btn-create" style="vertical-align:middle"><span>Jetzt loslegen</span></button>
