@{
    ViewData["Title"] = "Home";
}

<h1>Herzlich willkommen bei socialformns</h1><br />

<h2>Umfragen erstellen - Umfragen teilen</h2>

<a href="/create" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Jetzt starten</a>