@model socialforms.Models.FormWithQuestions
@{
    ViewData["Title"] = "Create Form";
}

<h1>Create your own socialform</h1>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<form asp-controller="create" asp-action="Insert" method="post">
    <div class="container" style="max-width: 700px;">

        <div class="text-center" style="margin: 20px 0px 20px 0px;">
            <a href="https://shouts.dev/" target="_blank"></a><br>
            <span class="text-secondary"></span>
        </div>

        <div class="type">
            <div class="row">
                <div class="col-lg-12">
                    <div id="qstType">
                        <div class="input-group mb-3">
                            <label asp-for="SForm.FormName"></label>
                            <span asp-validation-for="SForm.FormName"></span>
                            <input type="text" asp-for="SForm.FormName" class="form-control m-input" placeholder="Pick a form-name" autocomplete="off">
                        </div>
                    </div>
                </div>
                <br />
            </div>

            @*<div id="inputFormRow">
                <div class="input-group mb-3">
                    <label asp-for="QstList"></label>
                    <span asp-validation-for="QstList"></span>
                    <input type="text" asp-for="QstList" class="form-control m-input" placeholder="Type in a Question" autocomplete="off">
                    <button id="removeRow" type="button" class="btn btn-danger">Remove</button>
                </div>
            </div>*@

            <div id="questions"></div>

            <button id="addRow" type="button" class="btn btn-info">New Text-Question</button>
            <button id="slider" type="button" class="btn btn-info">New Slider</button><br />

            <p>
                <br />
                <input type="submit" value="absenden" />
                <input type="reset" value="abbrechen" />
            </p>

        </div>
    </div>

    <script type="text/javascript">
        // add row
        $("#addRow").click(function () {
            var html = '';
            html += '<div id="inputFormRow">';
            html += '<div class="input-group mb-3">';
            //html += '<label asp-for="QstList"></label>'
            //html += '<span asp-validation-for="QstList"></span>'
            //html += '<input type="text" asp-for="QstList" class="form-control m-input" placeholder="Type in a Question" autocomplete="off">';
            html += '<input type="text" name="QstList" class="form-control m-input" placeholder="Enter title" autocomplete="off"><br />'
            html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
            html += '</div>';
            html += '</div>';

            $('#questions').append(html);
        });

        $("#slider").click(function () {
            var sl = '';
            sl += '<div id="inputFormRow">';
            sl += '<div class="input-group mb-3">';
            sl += '<div class="slidecontainer">';
            sl += '<input type="text" name="Questions" class="form-control m-input" placeholder="Enter title" autocomplete="off"><br />'
            sl += '<input type="range" min="1" max="100" value="50" class="slider" id="myRange">';
            sl += '</div>';
            sl += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
            sl += '</div>';
            sl += '</div>';

            $('#questions').append(sl);
        })


        // remove row
        $(document).on('click', '#removeRow', function () {
            $(this).closest('#inputFormRow').remove();
        });

        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function () {
            output.innerHTML = this.value;
        }

    </script>
</form>